.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__current-group
        test
      .chat-main__group-info__left-box__member-list
        Member:
        .chat-main__group-info__left-box__member-list__member
          masa
    .chat-main__group-info__edit
    =link_to "#", class: "edit__btn--icon" do
      Edit
  .chat-main__message-list
  .form
    %form.new_message
      .input-box
        %input{type: "text",class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}